extends layout

block content
  .position-relative
    // shape Hero
    section.section.section-lg.section-shaped.pb-250
      .shape.shape-style-1.shape-default
        span
        span
        span
        span
        span
        span
        span
        span
        span
      .container.py-lg-md.d-flex
        .col.px-0
          .row
            .col-lg-6
              h1.display-3.text-white
                | Boost your
                span SMM promotion
              p.lead.text-white
                | Social media promotion services to help you get famous faster. You can chose the social network and posts and you're good to go.
              .btn-wrapper
                a.btn.btn-danger.btn-icon.mb-3.mb-sm-0(href='profile')
                  span.btn-inner--icon
                    i.fa.fa-heart
                  span.btn-inner--text Get Likes
                a.btn.btn-info.btn-icon.mb-3.mb-sm-0(href='profile')
                  span.btn-inner--icon
                    i.fa.fa-thumbs-up
                  span.btn-inner--text Get Followers
      // SVG separator
      .separator.separator-bottom.separator-skew
        svg(x='0', y='0', viewBox='0 0 2560 100', preserveAspectRatio='none', version='1.1', xmlns='http://www.w3.org/2000/svg')
          polygon.fill-white(points='2560 0 2560 100 0 100')
  // 1st Hero Variation
  section.section.section-lg.pt-lg-0.mt--200
    .container
      .row.justify-content-center
        .col-lg-12
          .row.row-grid
            .col-lg-4
              .card.card-lift--hover.shadow.border-0
                .card-body.py-5
                  .icon.icon-shape.icon-shape-primary.rounded-circle.mb-4
                    i.ni.ni-check-bold
                  h6.text-primary.text-uppercase Social Media Promotion
                  p.description.mt-3
                    | #{title} is a great service to promote your Instagram, Facebook, Youtube, Twitter accounts, pages, and groups.
                  div
                    span.badge.badge-pill.badge-primary instagram
                    span.badge.badge-pill.badge-primary facebook
                    span.badge.badge-pill.badge-primary youtube
                  a.btn.btn-primary.mt-4(href='about') Learn more
            .col-lg-4
              .card.card-lift--hover.shadow.border-0
                .card-body.py-5
                  .icon.icon-shape.icon-shape-success.rounded-circle.mb-4
                    i.ni.ni-istanbul
                  h6.text-success.text-uppercase Apps Promotion
                  p.description.mt-3
                    | #{title} is a great service to promote your application or mobile game on AppStore or Google Play.
                  div
                    span.badge.badge-pill.badge-success AppStore
                    span.badge.badge-pill.badge-success Google Play
                    span.badge.badge-pill.badge-success Amazon
                  a.btn.btn-success.mt-4(href='about') Learn more
            .col-lg-4
              .card.card-lift--hover.shadow.border-0
                .card-body.py-5
                  .icon.icon-shape.icon-shape-warning.rounded-circle.mb-4
                    i.ni.ni-planet
                  h6.text-warning.text-uppercase Website Promotion
                  p.description.mt-3
                    | #{title} is a great service to launch your new website and drive target audience straigt into your arms.
                  div
                    span.badge.badge-pill.badge-warning marketing
                    span.badge.badge-pill.badge-warning product
                    span.badge.badge-pill.badge-warning launch
                  a.btn.btn-warning.mt-4(href='about') Learn more

