extends layout

block content
    section.section.section-lg.bg-gradient-default
        .container.pt-lg.pb-300
            .row.justify-content-center
                .col-lg-10
                    h2.display-3.text-white Privacy Policy
                    p.text-white
                        | Your privacy is important to us. It is GETFAMOUS' policy to respect your privacy regarding any information we may collect from you across our website, https://getfamous.azurewebsites.net/ and other sites we own and operate.
                    p.text-white
                        | We only ask for personal information when we truly need it to provide a service to you. We collect it by fair and lawful means, with your knowledge and consent. We also let you know why we’re collecting it and how it will be used.
                    p.text-white
                        | We only retain collected information for as long as necessary to provide you with your requested service. What data we store, we’ll protect within commercially acceptable means to prevent loss and theft, as well as unauthorized access, disclosure, copying, use or modification.
                    p.text-white
                        | We don’t share any personally identifying information publicly or with third-parties, except when required to by law.
                    p.text-white
                        | Our website may link to external sites that are not operated by us. Please be aware that we have no control over the content and practices of these sites, and cannot accept responsibility or liability for their respective privacy policies.
                    p.text-white
                        | You are free to refuse our request for your personal information, with the understanding that we may be unable to provide you with some of your desired services.
                    p.text-white
                        | Your continued use of our website will be regarded as acceptance of our practices around privacy and personal information. If you have any questions about how we handle user data and personal information, feel free to contact us.
                    p.text-white This policy is effective as of 4 February 2020.

        // SVG separator
        .separator.separator-bottom.separator-skew.zindex-100
            svg(x='0', y='0', viewBox='0 0 2560 100', preserveAspectRatio='none', version='1.1', xmlns='http://www.w3.org/2000/svg')
                polygon.fill-white(points='2560 0 2560 100 0 100')