extends layout

block content
    section.section.section-shaped.section-lg
        .shape.shape-style-1.bg-gradient-default
            span
            span
            span
            span
            span
            span
            span
            span
        .container.pt-lg-md
            .row.justify-content-center
                .col-lg-5
                    .card.bg-secondary.shadow.border-0
                        .card-header.bg-white.pb-5
                            .text-muted.text-center.mb-3
                                small Sign up with
                            .text-center
                                a.btn.btn-neutral.btn-icon.mr-4(href='#')
                                    span.btn-inner--icon
                                        img(src='images/github.svg', alt='image')
                                    span.btn-inner--text Github
                                a.btn.btn-neutral.btn-icon(href='#')
                                    span.btn-inner--icon
                                        img(src='images/google.svg', alt='image')
                                    span.btn-inner--text Google
                        .card-body.px-lg-5.py-lg-5
                            .text-center.text-muted.mb-4
                                small Or sign up with credentials
                            form(method='POST', action='/profile', name='register')
                                .form-group
                                    .input-group.input-group-alternative.mb-3
                                        .input-group-prepend
                                            span.input-group-text
                                                i.ni.ni-hat-3
                                        input.form-control(placeholder='Name', name="username", type='text', required='required')
                                .form-group
                                    .input-group.input-group-alternative.mb-3
                                        .input-group-prepend
                                            span.input-group-text
                                                i.ni.ni-email-83
                                        input.form-control(placeholder='Email', name="useremail", type='email', required='required')
                                .form-group
                                    .input-group.input-group-alternative
                                        .input-group-prepend
                                            span.input-group-text
                                                i.ni.ni-lock-circle-open
                                        input.form-control(placeholder='Password', name="userpass", type='password', required='required')
                                .text-muted.font-italic
                                    small
                                        | password strength: 
                                        span.text-success.font-weight-700 strong
                                .row.my-4
                                    .col-12
                                        .custom-control.custom-control-alternative.custom-checkbox
                                            input#customCheckRegister.custom-control-input(type='checkbox', required='required')
                                            label.custom-control-label(for='customCheckRegister')
                                                span
                                                    | I agree with the 
                                                    a(href='privacy') Privacy Policy
                                .text-center
                                    button.btn.btn-primary.mt-4(type='submit') Create account
